# Gradle
.gradle/
gradle/
build/
bin/
config/checkstyle/google_checks.xml

# IDE
.idea/
*.iml
.settings/
.classpath
.project

# Generated sources
src-generated

# Compiled class files
*.class
*.jar

# Log files
*.log

# Editor third-party files
editor/third_party

# temp files
/tmp

# Editor war
editor/war

*.jshd
*.wasm
