# Gradle
.gradle/
build/
bin/
config/

# IDE
.idea/
*.iml
.settings/
.classpath
.project

# Generated sources
src/main/java/org/joshsim/lang/JoshLangLexer.interp
src/main/java/org/joshsim/lang/JoshLangLexer.java
src/main/java/org/joshsim/lang/JoshLangLexer.tokens

# Compiled class files
*.class
*.jar

# Log files
*.log