modules = ["bash", "java-graalvm22.3", "nix", "python-3.11"]
run = "./gradlew test"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "./gradlew test"]

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8085
externalPort = 3000
