@font-face {
  font-family: PublicSans;
  src: url("/third_party/publicsans/fonts/otf/PublicSans-Regular.otf") format("opentype");
}

a, a:link, a:visited {
  color: #5050C0;
}

a:hover, a:active {
  color: #202070;
}

footer {
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  padding-top: 5px;
}

html {
  color: #333333;
  background-color: #F9F9F9;
  font-family: PublicSans;
  font-size: 15px;
}

footer {
  margin-bottom: 20px;
}

html {
  background-color: #F9F9F9;
  font-family: PublicSans;
  font-size: 15px;
}

header {
  color: black;
  background-color: #E0F0E0;
  padding: 15px;
  border: 1px solid #A0A0A0;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 20px;
}

header nav {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #A0A0A0;
  text-align: center;
  font-size: 15px;
}

header nav .nav-option a, header nav .nav-option a:link, header nav .nav-option a:visited {
  background-color: #708070;
  color: white;
  border-radius: 10px;
  padding: 7px;
  text-decoration: none;
  margin-right: 20px;
}

header nav .nav-option.selected a, header nav .nav-option.selected a:link, header nav .nav-option.selected a:visited {
  background-color: #204020;
}

header nav .nav-option a:focus, header nav .nav-option a:hover, header nav .nav-option a:active {
  background-color: #507050;
}

main {
  background-color: white;
  padding: 15px;
  font-size: 15px;
  border: 1px solid #A0A0A0;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

pre {
  padding: 5px;
  background-color: #333333;
  color: white;
  padding: 7px;
  border: 1px solid black;
  border-radius: 5px;
}

section {
  margin-bottom: 50px;
}

.back-panel {
  text-align: center;
  border-radius: 5px;
  background-color: #333333;
  color: white;
  padding: 7px;
  margin-bottom: 20px;
}

.back-panel a, .back-panel a:link, .back-panel a:visited {
  color: white;
}

.back-panel a:focus, .back-panel a:hover, .back-panel a:active {
  color: #E0E0E0;
}

.call-to-action a, .call-to-action a:link, .call-to-action a:visited {
  background-color: #7070C0;
  color: white;
  border-radius: 10px;
  padding: 7px;
  text-decoration: none;
}

.call-to-action a:focus, .call-to-action a:hover, .call-to-action a:active {
  background-color: #5050C0;
}

.skip-link {
  background: rgba(0, 0, 0, 0.5);
  height: 20px;
  padding: 4px;
  left: 0;
  top: 0;
  position: absolute;
  transform: translateY(-100%);
}

.skip-link:focus {
  transform: translateY(0%);
}
